<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8"/>
    <title>Surface</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="./style.css">


</head>

<body>

<h1 id="title">CreaStorm Surface - Liste des projets</h1>
<div id="projectSelector"></div>
<div id="workbench"></div>


<template id="projectTemplate">
    <div class="project">
        <img src=""/>
        <p></p>
    </div>
</template>

<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


</body>

</html>